.DS_Store
Thumbs.db


/*.csproj
/*.sln
/*.user
/*.unityproj
/*.pidb
/*.booproj
/*.suo


/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/


/[Aa]ssets/**/*.meta


/[Aa]ssets/AssetStoreTools*
/exportedObj/
/UserSettings/


/[Bb]uild/
/[Bb]uilds/
/[Tt]estResults/


/Assets/Plugins/Android/com.crashlytics*


.vscode/
/.vs/
/.vscode/settings.json


/[Uu]serSettings/
/Logs/
/Packages/manifest.json
/[Pp]ackages/packages-lock.json
/Library


.idea/
.idea/workspace.xml
.idea/gradle.xml
.idea/libraries
.idea/.name
.idea/modules.xml
.idea/misc.xml
.idea/.idea_modules.xml
.idea/caches/
/.idea/modules/
/.idea/tasks/
/.idea/launchProfiles/
/.idea/*.iml
.idea/*.ipr


*.apk
*.aab
*.exe
*.app
*.bin
*.nib
*.pdb
*.idb
*.ipch
*.aps
*.tmp
*.obj
*.lib
*.ilk
*.exp
*.app
*.dsym
*.pdb
*.a
*.lib
*.dll
*.so
*.dylib
*.nupkg
*.snupkg
*.symbols.nupkg
*.deb
*.rpm
*.tar.gz
*.zip
*.egg
*.whl
*.jar
*.war
*.ear


*.xcuser
